---
manufacturers:
  - "!create_or_update:name": "{{ manufacturer }}"
    description: "{{ manufacturer }} Systems"
    platforms:
      - "!create_or_update:name": "Cisco IOS"
        manufacturer__name: "{{ manufacturer }}"
        network_driver: "cisco_ios"

